<template name="openGames">

  <h2>Current Games</h2>
  <div class="games">
    {{#each playingGames}}
      {{> playingGame }}
    {{/each}}
  </div>

  <h2>Challenges</h2>
  <div class="games">
    {{#each openGames}}
      {{> openGame }}
    {{/each}}
  </div>

  <h2>Ended games</h2>
  <div class="games">
    {{#each endedGames}}
      {{> playingGame }}
    {{/each}}
  </div>


</template>

<template name="openGame">

  <div class="game {{myGameClass}}">
    <button class="btn btn-primary btn-xs accept {{hideIfMyGame}}">Accept</button>
    <button class="btn btn-default btn-xs cancel {{cancelHidden}}"><i class="fa fa-close"></i> Cancel</button>
    {{user.name}}
    <span class="date" data-livestamp="{{createdAt}}"></span>
  </div>

</template>

<template name="playingGame">

  <div class="game {{meToPlayClass}}">
    <button class="btn btn-default btn-xs open {{myGameClass}}">Open</button>
    {{white.name}} - {{black.name}}
    <button class="btn btn-warning btn-xs cancel {{cancelHidden}}"><i class="fa fa-close"></i> Cancel</button>
    <span class="date" data-livestamp="{{lastMovedAt}}"></span>
  </div>

</template>
