h2 {
  color: #888;
}

.board-container {
  text-align: center;
}

.game-container {
  text-align: center;
}

.playerName {
  margin: 10px;
  font-size: 1.3em;
}

#board {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto 0 auto;
}
