<template name="game">

  <div class="row">
    <div class="col-xs-3">
      <div>Game started <span class="date" data-livestamp="{{startedAt}}"></span></div>
      <div>Last move <span class="date" data-livestamp="{{lastMovedAt}}"></span></div>
      <div id="status" class="game-status"></div>
      <div class="chatRoom">
        <h2>Chat</h2>

        <div class="chats">
          {{#each chats}}
            {{> chatMsg }}
          {{/each}}
        </div>
        <form>
          <input id="chatMsg"/>
          <button type="submit" class="btn btn-primary btn-xs">Send</button>
        </form>
      </div>
      <input type="checkbox" class="getNotif"> Get desktop notification for this game moves

    </div>

    <div class="col-xs-5">
      <div class="game-container">
        <div class="playerName">{{topName }}</div>
        <div class="board-container">
          <div id="board"></div>
        </div>
        <div class="playerName">{{bottomName }}</div>

      </div>
    </div>

    <div class="col-xs-4">
      <div>FEN: {{fen}}</div>
      <div class="pgn">{{pgn}}</div>
    </div>
  </div>

</template>

<template name="chatMsg">
  <div>{{user.name}}: {{msg}}</div>
</template>
