<template name="game">

  <div class="row">
    <div class="col-xs-3">
      <div>Game started <span class="date" data-livestamp="{{startedAt}}"></span></div>
      <div>Last move <span class="date" data-livestamp="{{lastMovedAt}}"></span></div>
      <div id="status" class="game-status {{hiddenIfEnded}}"></div>
      <div class="game-status">{{result.text}}</div>
      <div class="chatRoom">
        <h2>Chat</h2>

        <div class="chats">
          {{#each chats}}
            {{> chatMsg }}
          {{/each}}
        </div>
        <form class="form-inline">
          <input id="chatMsg" class="form-control input-sm"/>
          <button type="submit" class="btn btn-primary btn-xs">Send</button>
        </form>
      </div>
      <input type="checkbox" class="getNotif"> Get desktop notifications for this game moves

    </div>

    <div class="col-xs-5">
      <div class="game-container">
        <div class="playerName">{{topName }}</div>
        <div class="board-container">
          <div id="board"></div>
        </div>
        <div class="playerName">{{bottomName }}</div>

      </div>
    </div>

    <div class="col-xs-4">
      <div>FEN: {{fen}}</div>
      <div class="pgn">{{pgn}}</div>

      <button class="btn btn-warning resign {{resignClass}}"><i class="fa fa-flag-o"></i> Resign</button>
      <button class="btn btn-warning cancel {{cancelHidden}}"><i class="fa fa-close"></i> Cancel game</button>
    </div>
  </div>

</template>

<template name="chatMsg">
  <div class="chatMsg"><span class="author">{{user.name}}:</span> {{msg}}</div>
</template>
