<template name="layout">
  {{> sAlert}}
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="/"><i class="fa fa-graduation-cap"></i> Learn Chess</a>

    <div class="nav navbar-nav navbar-right">
      {{#if currentUser}}
        <li class="dropdown">
          <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#">
            {{userName currentUser}}  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="/account/{{userName currentUser}}"><i class="fa fa-edit fa-fw"></i> My Account</a></li>
            <li class="divider"></li>
            <li><a href="#" class="js-logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
          </ul>
        </li>
      {{else}}
        {{> loginButtons}}
      {{/if}}

    </div>

  </nav>

  <div class="container">
    {{>yield}}
  </div>

</template>
