<template name="lobby">

  <div class="row">

    <div class="col-xs-2">
      <div class="online-users">
        <div class="guest-name">{{{ guestname }}}</div>
        {{#each usersOnline}}
          {{> onlineUser}}
        {{/each}}
      </div>

      <div class="rankings">
        <h2>Rankings</h2>
        {{#each rankings}}
          {{> ranking}}
        {{/each}}
      </div>

    </div>

    <div class="col-xs-5">
      {{> chessboard}}
    </div>

    <div class="col-xs-5">
      {{> createGame}}
      {{> openGames}}
    </div>
  </div>

</template>

<template name="onlineUser">
  <div class="online-user {{onlineClass}}">{{userName}} {{guestSign}}</div>
</template>

<template name="ranking">
  <div class="ranking">
    <div class="row">
      <div class="col-xs-8">
        {{userName}}
      </div>
      <div class="col-xs-4">
        {{elo}}
      </div>
    </div>
  </div>
</template>
