<template name="lobby">

  <div class="row">

    <div class="col-xs-2">
      <div class="online-users">
        <div class="guest-name">{{{ guestname }}}</div>
        {{#each usersOnline}}
          {{> onlineUser}}
        {{/each}}
      </div>
    </div>

    <div class="col-xs-5">
      {{> chessboard}}
    </div>

    <div class="col-xs-5">
      {{> createGame}}
      {{> openGames}}
    </div>
  </div>

</template>

<template name="onlineUser">
  <div class="online-user {{onlineClass}}">{{name}} {{guestSign}}</div>
</template>
